                    /* HEADER */

header, main {
    padding: 0 50px;
}
header {
    padding-bottom: 16px;
    justify-content: space-between;
     
}
.booki {
    height: 19px;
    padding-top: 46px;
    padding-left: 5px;
}

/* Nav */
.nav {
    align-items: baseline;
}
.nav-item {
    padding: 46px 32px;

}
.nav-item:hover{
    color: var(--color-01);
    cursor: default;
}


                    /* MAIN */

.presentation{
    padding: 0 5px;
}
                    /* Section 1 */
/* Formular */
.formular{
    align-items: center;
    margin: 36px 5px;
}
.localisation {
    background-color: var(--color-03);
    border-radius: 15px 0 0 15px;
    color: var(--color-02);
    padding: 16px 18px;
    font-size: 18px; 
}
input {
    border: 1px solid var(--color-03);
    padding: 17.75px 17px;
    color: var(--color-02);
    width: 215px;
}
input::placeholder {
    color: var(--color-02);
    font-size: 18px;
    font-weight: 700;
}
.search {
    background-color: var(--color-01);
    border-radius: 0 15px 15px 0;
    color: var(--color-04);
    padding: 16px;
}
.search-mobile {
    display: none;
} 

/* Filters */
.filters, .buttons-filters {
    column-gap: 37px;
}
.filters {
    align-items: baseline;
    margin-left: 12px; 
}

/* Notice */
.notice {
    align-items: center;
    padding: 40px 9px;
}

                    /* Section 2 */

/* Big cards */
.flex-cards {
    grid-template-columns: auto auto;
    column-gap: 40px;
}
.card1, .card2 {
    background-color: var(--color-03);
    border-radius: 20px;
    padding: 40px 40px;
}
.card1 {
    width: 800px;
    height: 546px;
}
.card2 {
    width: 340px;
    height: 546px;
}
.card2-header {
    justify-content: space-between;
    align-items: baseline;
}

/* Smart cards groups */
.small-cards-group1{
    grid-template-columns: 246px 246px 246px;
    column-gap: 30px;
    row-gap: 30px;  
}
.small-cards-group2 {
    grid-template-columns: 343px;
    row-gap: 33px;
}

/* Small cards */
.small-card1, .small-card2, .small-card3 {
    border-radius: 20px;
    background-color: var(--color-04);
    box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.1);
}
.small-card1 {
    width: 246px;
    height: 199px; 
}
.small-card2 {
    width: 343px;
    height: 144px;
    justify-content: flex-start;
}
.description-card1 {
    padding: 0 16px;
}
.description-card2 {
    padding: 16px 0;
    padding-left: 15px;
    padding-right: 22px;
    justify-content: space-between;  
}
.img-card1, .img-card2, .img-card3 {
    object-fit: cover;
}
.img-card1, .img-card2 {
    border: 5px solid var(--color-04);
}
.img-card1, .img-card3 {
    border-radius: 20px 20px 0 0;
}
.img-card1 {
    width: 96%;
    height: 114px;
}
.img-card2{
    height: 93%;
    width: 127px;
    border-radius: 20px 0 0 20px ;
}


                    /* Section 3 */ 

.section-marseille {
    margin: 60px 0;
}
.small-cards-group3 {
    grid-template-columns: auto auto auto auto;
    column-gap: 43px;
}
.small-card3 {
   height: 444px;
   width: 302px;
} 
.description-card3 {
    background-color: var(--color-04);
    border-radius: 0 0 20px 20px;
}
.img-card3 {
    height: 388px;
    width: 302px;
}


                    /* FOOTER */

.footer-list {
    padding-left: 0; /* Enlève les décalages des <li> */
}
footer {
    grid-template-columns: auto auto auto;
    background-color: var(--color-03);
    margin: 0 50px;
    padding: 45px 70px;
    width: 1199px;
}
