@media (max-width:768px) {
                /* HEADER */

#header {
    display: flex;
    flex-direction: column !important; 
    padding: 0;
    margin: 0;
    width: 90%;
}
    
/* Nav */
.nav {
    width: 100%;
    padding-left: 0;
}

.booki {
    width: 60px;
    padding: 24px 48%;
}

.border1 {
    width: 100%;
    border-bottom: 2px solid var(--color-03);  
}

.border1:hover {
    width: 100%;
    border-bottom: 2px solid var(--color-01);
    border-top: none;
}
.item1 {
    padding: 46px 15%;
}

.item2 {
    padding: 46px 22%;
}

                    /* MAIN */
      
main{
    margin-top: 30px;
    padding: 0;
    margin: 0;
    width: 100%;
}
                    /* Section 1 */
#section1, #section2, #section3{
    width: 100%;
}

#section1{
    width: 70%;
    padding-top: 30px;
    margin: 0 auto;
}

h1 {
    margin-bottom: 12px;
}


.formular {
    margin: 36px 5px;
}
.search-desktop, .display-none {
    display: none;
} 

.search-mobile {
    display: inline-block;
} 
input {
    width: 192px;
}

.filters {
    display: flex;
    flex-direction: column;
    margin-left: 0;
}

.bold1{
    padding-top: 0;
}

.buttons-filters {
    grid-template-columns: 160px 160px;
    grid-template-rows: auto auto;
    column-gap: 14px;
    row-gap: 18px;
}

.button1 {
    padding: 16px 8px;
    display: flex;
    align-items: center;
}

.icon-filters {
    padding-right: 5px;
    font-size: 15px;
}

.bold2 {
    font-size: 12px;
}

/* Notice */
.notice {
    align-items: flex-start;
    padding: 0;
    margin: 40px 0;
}
.button2{
    font-weight: 700;
}

.notice-paragraph {
    margin-top: 4px;
}
                    /* Section 2 */

/* Big cards */
#section2{
    display: flex;
    flex-direction: column-reverse;
    row-gap: 0;
}


#card1, #card2  {
    border-radius: 0;
    height: 100%;
    width: 100%;
    padding: 0;
}

#card2, footer {
    background-color: var(--color-03);
}

#card1 {
    padding: 28px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
}

#card2 {
    padding-bottom: 47px;
}

h2 {
    font-size: 22px;
}
#h2-1 {
    margin-left: -40px;
}
.card2-header {
    justify-content: center;
    column-gap: 100px;
    padding-top: 28px;
    margin-left: 0;
} 

/* Smart cards groups */

.small-cards-group1, .small-cards-group2, .small-cards-group3 {
    grid-template-columns: auto;
    row-gap:12px;
    justify-items: center;
    margin: 0 auto;
}

.small-cards-group1, .small-cards-group2 {
    row-gap:12px;
}
 
/* Small cards */

.small-card1, .small-card2, .small-card3 {
    width: 335px;
}

.description-card2{
    padding: 15px;
}

.img-card1 {
    width: 97%;
    height: 114px;
}

                    /* Section 3 */ 
#section3{
    margin: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#title-section-marseille{
    padding-top: 20px;
    padding-bottom: 0;
    margin-left: -160px;
    max-width: 165px;
}
.small-cards-group3 {
    row-gap: 24px;
}
.small-card3{
    height: 190px;  
}
.img-card3{
    height: 134px;
    width: 100%;
    object-fit: cover;
}


                    /* FOOTER */

footer {
    grid-template-columns: auto;
    row-gap: 46px;
    margin: 0;
    padding: 45px 30px;
    width: 91%;
}
}







   