@media (max-width:768px) {
                /* HEADER */

#header {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 0;
    margin: 0;

    width: 100%;
}
    
/* Nav */
.nav {
  padding-left: 0;
}

.booki {
    width: 60px;
    padding: 24px auto;
}

.nav-item {
    padding: 23px 0;
    font-size: 14px;
}

.border1{
    border-bottom: solid 2px var(--color-03);
}

.border1:hover{
    border-top: none;
    border-bottom: solid 2px var(--color-01);
}
.li-hebergement {
    padding: 23px 31%;
    margin: 0 -85%;
}
.li-activite {
    padding: 23px 96%;
    margin: 0 -40%;
}

                    /* MAIN */
      
main{
    padding: 0;
    margin: 0;
    width: 100%;
    min-width: 320px;
}
                    /* Section 1 */
#section1, #section2, #section3{
    width: 100%;
}

#section1{
    width: 70%;
    min-width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#presentation {
    margin: 0 auto;
    padding: 0 4%;
    max-width: 290px;
}

h1 {
    font-size: 20px;
}

.sub-h1 {
    font-size:14px;
}

.formular {
    margin: 36px 5px;
    padding: 0 auto;
}
.search-desktop, .display-none {
    display: none;
} 

.search-mobile {
    display: inline-block;
} 
input {
    width: 160px;
}

.filters {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    padding: 0;
}

.bold1{
    padding-top: 0;
    margin: 0;
}

.buttons-filters {
    grid-template-columns: 14px 140px;
    grid-template-rows: auto auto;
    column-gap: 136px;
    padding-left: 0px;
    row-gap: 18px;
}

.button1 {
    padding: 16px 8px;
    width: 140px;
    display: flex;
    align-items: center;
    margin:0;
}

.icon-filters {
    padding-right: 5px;
    font-size: 15px;
}

.bold2 {
    font-size: 11px;
}

/* Notice */
.notice {
    align-items: flex-start;
    padding: 0;
    margin: 30px 3%;
    max-width: 290px;
}
.button2{
    font-weight: 700;
    padding: 4px 8px;
}

.notice-paragraph {
    margin-top: 4px;
    font-size: 13px;
}
                    /* Section 2 */

/* Big cards */
#section2{
    display: flex;
    flex-direction: column-reverse;
    row-gap: 0;
}


#card1, #card2  {
    border-radius: 0;
    height: 100%;
    width: 100%;
    padding: 0;
}

#card2, footer {
    background-color: var(--color-03);
}

#card1 {
    padding: 28px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
}

#card2 {
    padding-bottom: 47px;
    display: grid;
    justify-items: center ;
}

h2 {
    font-size: 18px;
    padding-bottom: 0;
}

h3 {
    font-size: 14px;
}
#h2-1 {
    margin-left: -40px;
    padding-bottom: 20px;
}
.card2-header {
    justify-content: flex-start;
    padding: 28px 0;
    margin: 0 auto;
    column-gap: 100px;
} 

/* Smart cards groups */

.small-cards-group1, .small-cards-group2, .small-cards-group3 {
    grid-template-columns: auto;
    row-gap:12px;
    justify-items: center;
    margin: 0 auto;
}

.small-cards-group1, .small-cards-group2 {
    row-gap:12px;
}
 
/* Small cards */

.small-card1, .small-card2, .small-card3 {
    width: 280px;
}

.description-card2{
    padding: 15px;
}
.subtitles4{
    font-size: 12px;
}
.img-card1 {
    width: 97%;
    height: 114px;
}

                    /* Section 3 */ 
#section3{
    margin: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#title-section-marseille{
    padding-top: 20px;
    padding-bottom: 0;
    margin-left: -106px;
    max-width: 165px;
}
.small-cards-group3 {
    row-gap: 24px;
}
.small-card3{
    height: 190px;  
}
.img-card3{
    height: 134px;
    width: 100%;
    object-fit: cover;
}


                    /* FOOTER */


footer {
    grid-template-columns: auto;
    justify-content: center;
    row-gap: 32px;
    margin: 0;
    padding: 45px 0;
    width: 100%;
}

.column-footer{
    margin-left: -90px;
}

h4 {
    font-size: 16px;
    padding-bottom: 14px;
}

footer .subtitles1 {
    font-size: 14px;
}
.footer-item{
    padding: 6px 0;
}
}







   