*{
    margin: 0;
    font-family: Raleway;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* Variables */

:root {
    --color-01:#0065FC;
    --color-02:#000000;
    --color-03:#F2F2F2;
    --color-04:#FFFFFF;
    --color-05:#D9D9D9;
    --color-06:#DEEBFF;
    --color-07:#F0F2F6;
    
}

/* Titles */
h1{
    font-weight: 700;
    font-size: 22px;
    color: var(--color-02);
    margin-bottom: 8px;
}
h2 {
    font-size: 26px;
    padding-bottom: 23px;
}

h3 {
    font-size: 16px;
    font-weight: 700;
}

h4 {
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 16px;
}

.title3{
    padding: 20px;
}
/* Subtitles */
.subtitles {
    font-weight: 400;
    font-size: 16px;
    color: var(--color-02);
}

.subtitles1 {
    font-weight: 400;
    font-size: 16px;
    color: var(--color-02);
    padding: 4px 0;
}

.subtitles2{
    font-size: 14px;
}

.subtitles3 {
    font-size: 14px;
    line-height: 20px;
    padding-top: 7px;
}
/* Bold words */

.bold-words1 {
    font-size: 18px;
    font-weight: 700;
    padding-top: 40px;
}
.bold-words2{
    line-height: 20px;
}
.bold-words-filters {
    font-size: 17px;
    font-weight: 700;
}

/* Buttons */
.button-formular {
    padding: 16px 18px;
    font-size: 18px;
}
.button-filters {
    padding: 0 20px;
    height: 50px;
    background-color: transparent;
   
}
.button-filters:hover{
    background-color: var(--color-06);
    cursor: default;
}

.button-info {
    border: solid 1px var(--color-05);
    border-radius: 50px;
    padding: 6px 10px;
    margin-right: 11px;
    color: var(--color-01);
    font-size: 10px;
}
/* Borders */

.border1:hover{
    border-top: solid 2px var(--color-01);
}

.border2 {
    border: solid 2px var(--color-05);
    border-radius: 25px;
}
/* Logos */

.logo-filters {
    padding-right: 10px; 
    color: var(--color-01);
    font-size: 16px;

}

.logo-star-more {
    color: var(--color-01);
    font-size: 12px;
}

.logo-star-less {
    color: var(--color-03);
    font-size: 12px;
}









